.top-container {
    background-color: #E4F9F5;
    height: auto;
    width: auto;
    margin: 0;
    padding-top: 80px;
    position: relative;
}

.header {
    background-color: #00ffd0;
    height: auto;
    width: auto;
    margin: 0;
    padding-top: 100px;
}

body {
    margin: 0;
    text-align: center;
}

.heading {
    margin: 0 auto 0 auto;
    color: #3E9C87;
    width: 20%;
    font-size: 40px;
    font-family: 'Redressed', cursive;
}

.sub-heading {
    margin: 0 auto 0 auto;
    padding-top: 10px;
    color: #30E3CA;
    font-size: 20px;
    font-family: 'Redressed', cursive;
    width: 20%;
}

.scenery {
    height: 550px;
    width: 1000px;
}

.cloud1 {
    height: 80px;
    width: 250px;
    position: absolute;
    right: 300px;
    top: 150px;
}

.cloud2 {
    height: 80px;
    width: 250px;
    position: absolute;
    left: 300px;
    bottom: 400px;
}

.about {
    position: absolute;
    right: 450px;
    top: 10px;
    color: #53a096;
}

.education {
    position: absolute;
    right: 300px;
    top: 10px;
    color: #53a096;
}

.work {
    position: absolute;
    right: 200px;
    top: 10px;
    color: #53a096;
}

.contact-me {
    position: absolute;
    right: 80px;
    top: 10px;
    color: #53a096;
}

.profile-top {
    height: 200px;
    width: 200px;
}

.profile-mid {
    margin-top: 50px;
    height: 200px;
    width: 200px;
}

.profile-logo {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 100px;
    top: 10px;
}

.hr-1 {
    border-style: none;
    border-top-style: dotted;
    border-color: rgba(190, 190, 190, 0.993);
    border-width: 5px;
    width: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.hr-2 {
    border-style: none;
    border-top-style: dotted;
    border-color: rgba(190, 190, 190, 0.993);
    border-width: 5px;
    width: 5%;
    margin-top: 720px;
    margin-bottom: 100px;
}

.hi {
    color: #2c6d5f;
    font-weight: normal;
}

.about-text {
    font-size: 24px;
    width: 29%;
    margin: 0 auto 0 auto;
}

.mid-container {
    height: auto;
    width: auto;
}

.skills-heading {
    color: #2c6d5f;
    font-size: 50px;
    font-weight: normal;
}

.help-heading {
    color: #2c6d5f;
    font-size: 50px;
    font-weight: normal;
}

.help-about {
    color: #30E3CA;
    font-size: 25px;
    font-weight: normal;
}

.help-about-2 {
    font-size: 20px;
    margin: 40px auto 0 auto;
    width: 30%;
    font-weight: normal;
}

.skill-1-heading {
    color: #30E3CA;
    font-size: 40px;
    font-weight: normal;
    float: right;
    margin-top: 100px;
    margin-right: 450px;
    font-family: 'Redressed', cursive;
}

.skill-1-about {
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    width: 25%;
    top: 1900px;
    font-family: 'Redressed', cursive;
    right: 410px;
}

.skill-2-heading {
    color: #30E3CA;
    font-size: 40px;
    font-weight: normal;
    float: left;
    margin-top: 270px;
    margin-left: 450px;
    font-family: 'Redressed', cursive;
}

.skill-2-about {
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    width: 25%;
    top: 2230px;
    font-family: 'Redressed', cursive;
    left: 435px;
}

.anim-1 {
    position: absolute;
    right: 900px;
}

.anim-2 {
    position: absolute;
    left: 900px;
    margin-top: 350px;
}

.contact-content {
    height: auto;
    width: auto;
    margin-left: 660px;   
    margin-right: 660px; 
    text-align: center; 
    margin-top: 70px; 
    border-radius: 10px;
    padding: 1px;
    background-color: #00ffd0;
}

.email {
    height: 30px;
    width: 30px;
    float: left;
    margin-left: 20px;
    margin-top: 0px;
    margin-right: 10px;
}

.contact-button-text {
   font-weight: normal;
   font-size: 28px;
   color: #53a096;
   text-decoration: none;
}

.contact-button-text:hover {
    font-weight: normal;
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.college-name {
    text-decoration: none;
    color: #00ffd0;
}

.college-name:hover {
    text-decoration: none;
    color: #2c6d5f;
}

.footer {
    height: auto;
    width: auto;
    background-color: #00ffd0;
    text-align: center;
    padding: 50px;
}

.socials {
    text-decoration: none;
    font-size: 20px;
    color: #53a096;
    margin: 10px;
}

.socials:hover {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 10px;
}

.sponsor {
    color: #53a096;
}