.top-container {
    background-color: #E4F9F5;
    height: auto;
    width: auto;
    margin: 0;
    padding-top: 80px;
    position: relative;
}

.header {
    background-color: #00ffd0;
    height: auto;
    width: auto;
    margin: 0;
    padding-top: 100px;
}

body {
    margin: 0;
    text-align: center;
}

.heading {
    margin: 0 auto 0 auto;
    color: #30E3CA;
    width: 15%;
    font-family: 'Redressed', cursive;
}

.sub-heading {
    margin: 0 auto 0 auto;
    padding-top: 10px;
    color: #30E3CA;
    font-family: 'Redressed', cursive;
    width: 10%;
}

.scenery {
    height: 550px;
    width: 1000px;
}

.cloud1 {
    height: 80px;
    width: 250px;
    position: absolute;
    right: 300px;
    top: 150px;
}

.cloud2 {
    height: 80px;
    width: 250px;
    position: absolute;
    left: 300px;
    bottom: 400px;
}

.about {
    position: absolute;
    right: 450px;
    top: 10px;
    color: #53a096;
}

.education {
    position: absolute;
    right: 300px;
    top: 10px;
    color: #53a096;
}

.work {
    position: absolute;
    right: 200px;
    top: 10px;
    color: #53a096;
}

.contact-me {
    position: absolute;
    right: 80px;
    top: 10px;
    color: #53a096;
}

.profile {
    height: 200px;
    width: 200px;
}

.profile-logo {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 100px;
    top: 10px;
}
